.u-section-1 {
  background-image: url("images/14.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 732px;
}

.u-section-1 .u-group-1 {
  width: 493px;
  min-height: 211px;
  height: auto;
  background-image: none;
  margin: 351px auto 60px -56px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin: 13px 1px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 1px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-group-1 {
    min-height: 224px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 131px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 151px;
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-1 {
  width: 223px;
  height: 147px;
  margin: -8px auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 135px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-2 {
  width: 212px;
  height: 144px;
  margin: -14px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 114px;
    height: 75px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 114px;
    height: 87px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-2 .u-image-1 {
    width: 87px;
    height: 57px;
  }

  .u-section-2 .u-image-2 {
    width: 87px;
    height: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 82px;
    height: 54px;
  }

  .u-section-2 .u-image-2 {
    width: 82px;
    height: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 2px;
  }

  .u-section-2 .u-image-1 {
    width: 211px;
    height: 139px;
    margin-top: -29px;
    margin-bottom: -29px;
  }

  .u-section-2 .u-image-2 {
    width: 224px;
    height: 169px;
    margin-top: -45px;
    margin-bottom: -45px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-3 .u-text-1 {
  margin: 39px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 199px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 204px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto 0 13px;
}

.u-section-3 .u-text-5 {
  margin: 13px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 492px;
  height: 144px;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  margin-top: 16px;
  margin-bottom: 27px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  grid-gap: 15px 15px;
  min-height: 614px;
  grid-auto-columns: calc(33.3333% - 10px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 12px;
}

.u-section-3 .u-icon-1 {
  height: 150px;
  width: 150px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  color: rgb(11, 19, 25) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 66px 75px 0 86px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 12px;
}

.u-section-3 .u-icon-2 {
  height: 150px;
  width: 150px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  color: rgb(11, 19, 25) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 66px 75px 0 86px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 12px;
}

.u-section-3 .u-icon-3 {
  height: 150px;
  width: 150px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  color: rgb(11, 19, 25) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 66px 75px 0 86px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 12px;
}

.u-section-3 .u-icon-4 {
  height: 150px;
  width: 150px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  color: rgb(11, 19, 25) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 66px 75px 0 86px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 0 12px;
}

.u-section-3 .u-icon-5 {
  height: 150px;
  width: 150px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  color: rgb(11, 19, 25) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 66px 75px 0 86px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 164px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 168px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
    min-height: 506px;
    grid-auto-columns: calc(33.333333333333336% - 10px);
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 293px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 27px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    min-height: 872px;
    grid-auto-columns: calc(50% - 7.5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 853px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 100px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    min-height: 438px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-1 {
    height: 102px;
    width: 102px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-2 {
    height: 102px;
    width: 102px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 34px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-3 {
    height: 102px;
    width: 102px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 34px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-4 {
    height: 102px;
    width: 102px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 34px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-5 {
    height: 102px;
    width: 102px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 34px;
    margin-right: 3px;
    margin-left: -3px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 462px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1120px;
  margin: 60px auto 0 10px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  width: 417px;
  height: 417px;
  margin: -7px auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 432px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 120px 0 34px;
}

.u-section-4 .u-text-2 {
  margin: 35px 34px 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 52px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-4 .u-image-1 {
    width: 395px;
    height: 395px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-4 .u-image-1 {
    width: 285px;
    height: 285px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 341px;
    width: 341px;
    margin: 4px 0 -211px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 664px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1082px;
  margin: 90px 0 5px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 605px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 13px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
  width: 386px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 300;
  line-height: 38.4px;
  background-image: none;
  font-size: 1rem;
  letter-spacing: normal;
  width: 386px;
  margin: 114px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 45px auto 0 160px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 605px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  width: 470px;
  height: 327px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-5 .u-text-1 {
    width: 354px;
  }

  .u-section-5 .u-text-2 {
    width: 354px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 110px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 526px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    width: 266px;
  }

  .u-section-5 .u-text-2 {
    width: 266px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-5 .u-image-1 {
    width: 367px;
    height: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    line-height: 2;
    letter-spacing: 0px;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-5 .u-image-1 {
    height: 266px;
    margin-top: -755px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 533px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1120px;
  margin: 60px auto 60px 10px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-image-1 {
  width: 417px;
  height: 417px;
  margin: -7px auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 432px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 32px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 88px 0 2px;
}

.u-section-6 .u-text-2 {
  margin: 0 4px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 61px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-6 .u-image-1 {
    width: 395px;
    height: 395px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-6 .u-image-1 {
    width: 285px;
    height: 285px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 42px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 30px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: auto;
    margin-top: -437px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -107px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -153px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 22px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1322px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 100px 413px 0 157px;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 305px;
  height: 390px;
  margin: 65px 112px 0 auto;
}

.u-section-7 .u-accordion-1 {
  width: 570px;
  margin: -383px 570px 0 auto;
}

.u-section-7 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 90px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 90px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 90px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-4 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-4 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-7 .u-accordion-pane-4 {
  min-height: 90px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-7 .u-group-1 {
  width: 1024px;
  min-height: 257px;
  margin: 56px auto 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-7 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-group-2 {
  width: 1024px;
  min-height: 358px;
  height: auto;
  margin: 43px auto 60px;
}

.u-section-7 .u-container-layout-6 {
  padding: 22px 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.5rem;
  margin: 33px 30px 0;
}

.u-section-7 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-text-9 {
  margin: 28px 20px 0 30px;
}

.u-section-7 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 457px;
    margin-left: 57px;
  }

  .u-section-7 .u-image-1 {
    width: 404px;
    height: 698px;
    margin-top: -36px;
  }

  .u-section-7 .u-accordion-1 {
    width: 483px;
    margin-top: -550px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-7 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-7 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-7 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-7 .u-group-1 {
    width: 940px;
  }

  .u-section-7 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-7 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-top: 777px;
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    height: 675px;
    margin-top: -897px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-accordion-1 {
    margin-top: 334px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-group-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: 755px;
    margin-right: 453px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -875px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-accordion-1 {
    margin-top: 312px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2035px;
  }

  .u-section-7 .u-text-1 {
    width: 184px;
    text-transform: none;
    font-weight: normal;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-1 {
    height: 153px;
    width: 196px;
    margin-top: -251px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-accordion-1 {
    margin-top: 130px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-accordion-pane-1 {
    min-height: 140px;
  }

  .u-section-7 .u-accordion-pane-2 {
    min-height: 140px;
  }

  .u-section-7 .u-accordion-pane-3 {
    min-height: 140px;
  }

  .u-section-7 .u-accordion-pane-4 {
    min-height: 140px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 0;
    min-height: 483px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-2 {
    margin-top: 49px;
    min-height: 708px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 613px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 67px auto 67px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 524px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 60px 20px 22px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .u-text-3 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 707px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    margin-top: 67px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 177px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    animation-duration: 1000ms;
    margin-top: -96px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 59px;
  }
}